<div *ngIf="!isSignedIn">
  <h2>Sign Up</h2>
  <input type="text" #emailSignUp>
  <input type="text" #passwordSignUp>
  <button (click)="onSignUp(emailSignUp.value,passwordSignUp.value)" >SignUp</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" #emailSignIn>
  <input type="text" #passwordSignIn>
  <button (click)="onSignIn(emailSignIn.value,passwordSignIn.value)" >SignUp</button>
</div>

<app-dashboard  *ngIf="isSignedIn" (isLogout)="handleLogout()" ></app-dashboard>
